.THIS .slds-accordion__summary-action {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
    min-width: 0;
    background: #e2e4e6  !important;
    line-height: 1.675rem  !important;
    padding: 5px  !important;
    font-size: 1.1em !important;
    color: darkslategrey !important;
}
.THIS .buttonClass
{
   margin-top: 26px !important;
}

.THIS .slds-card__body
{
    margin-top: -1.25rem !important;
}

.THIS .slds-accordion__section {
    padding: 0.65rem !important;
}
.THIS .slds-accordion__content{
    margin-left:20px !important;
    margin-right:20px !important;
}

 .THIS .slds-table td{
    padding: .5rem .5rem !important;
}
 .THIS .slds-table th{
    padding: .5rem .5rem !important;
}

.THIS .slds-checkbox .slds-checkbox--faux {
    border:1px solid rgb(81, 79, 77);
}
.THIS .addRed{
  border:1px solid red;
    border-radius:0.25rem;
}
.THIS .hidden {
	display: none;
}
 .THIS .show{
	display: block;
}
.THIS .scrollerSize{
    height:100rem;
}

.THIS .slds-accordion__summary
{
    margin-top: 15px;
    margin-bottom: 18px;
    margin-left: 3px;
    margin-right: 3px;
}